<footer class="footer">

    <div class="pull-right" id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
                , includedLanguages: 'ar,cs,da,de,en,es,fa,fr,ga,hy,id,it,ja,ko,la,nl,no,pt,ro,ru,sv,th,tl,tr,uk,vi,zh-CN,zh-TW'
                , layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }
                , 'google_translate_element');
        }
    </script>

    Company 2015-2020
</footer>
