<div id="navigation" data-ng-controller="identityCtrl as id">

    <!-- START USER BIDNESS -->
    <div class="profile-picture">

        <div class="center-block sidebar-img-width">
            <a data-ng-href="/users/members/{{id.handle}}">
                <img data-ng-src="http://sabio-training.s3-us-west-2.amazonaws.com{{id.avatar}}" class="img-circle m-b img-responsive" alt="My Avatar" title="My Avatar">
            </a>
        </div>

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">{{id.firstName}} {{id.lastName}}</span>

            <div>
                <ul class="list-inline">
                    <li>
                        <small>
                            <a href="/users/update#/account" class="text-muted"
                               data-ng-class="{'font-trans': hover}"
                               data-ng-mouseenter="hover = true"
                               data-ng-mouseleave="hover = false">My Account</a>
                        </small>
                    </li>
                    <li>
                        <small>
                            <a data-ng-click="id.logout()" class="text-muted"
                               data-ng-class="{'font-trans': hover2}"
                               data-ng-mouseenter="hover2 = true"
                               data-ng-mouseleave="hover2 = false">Logout</a>
                        </small>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- END USER BIDNESS -->
    <div>
        <ul class="nav" id="side-menu">
            <li>
                <a href="/users/members/{{id.handle}}#/"><span class="nav-label">My Profile</span></a>
            </li>

            <li>
                <a href="/users/dashboard/free"><span class="nav-label">Dashboard</span></a>
            </li>
            <li>
                <a href="/quick#"><span class="nav-label">Quick Questions</span> </a>
            </li>

            <li>
                <a href="/blogs"><span class="nav-label">Blogs</span></a>

            </li>
            <li>
                <a href="/forum"><span class="nav-label">Forum </span></a>
            </li>
            <li>
                <a href="/faqs/public"><span class="nav-label">FAQs</span></a>
            </li>
            <li>
                <a href="/payments"><span class="nav-label">Payments Generator</span></a>
            </li>
        </ul>
    </div>
</div>
